/*Outer container*/
#grid {
	display: grid;
	height:112px;
	width:112px;
	overflow: hidden;
	margin: auto;
	background-color: #000000;

	align-content: start;
	grid-template-columns: repeat(4, auto);
}

/*Inner elements*/
#grid div {
	height: 28px;
	width: 28px;
	background-color: green;
}

/*Button panel centered below*/
input {
	display: block;
	margin: auto;
}
p {
	text-align: center;
}