/*Outer container*/
#grid {
	display: grid;
	height:400px;
	width: 400px;
	overflow: hidden;
	margin: auto;
	background-color: #000000;

	align-content: start;
	grid-template-columns: repeat(4, auto);
}

/*Inner elements*/
#grid div {
	height: 100px;
	width: 100px;
	background-color: green;
}

/*Button centered below*/
input {
	display: block;
	margin: auto;
}